@using JohannesQvarford.Website.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="container top">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <div class="flags">
                        <a href="/sv"><img src="~/Content/Images/Sweden-flat-icon.png" /></a>
                        <a href="/en"><img src="~/Content/Images/United-States-flat-icon.png" /></a>
                    </div>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><div class="flags">
                            <a href="/sv"><img src="~/Content/Images/Sweden-flat-icon.png" /></a>
                            <a href="/en"><img src="~/Content/Images/United-States-flat-icon.png" /></a>
                        </div></li>
                        <li>@Html.ActionLink("Huvudsida", "Index", "Home")</li>
                        <li>@Html.ActionLink("Om", "About", "Home")</li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Projekt &nbsp; <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (string project in ViewBag.Projects)
                                {
                                    <li>@Html.ProjectActionLink(project)</li>
                                }
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Cv", "Cv", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="body-content">
            @RenderBody()
        </div>
    </div>
    <footer class="container">
        <div class="row ">
            <p class="col-md-12 col-sm-12 footer-cell">
                <a href="https://se.linkedin.com/pub/johannes-qvarford/103/905/305">
                    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Johannes Qvarford's LinkedIn profile" style="vertical-align: middle;" border="0">
                    &nbsp;Besök min LinkedIn profil
                </a>
            </p>
            <p class="col-md-12 col-sm-12 footer-cell">
                <a href="mailto:johannes.qvarford@gmail.com">
                    <span class="glyphicon glyphicon-envelope"></span>
                    &nbsp; Skicka ett meddelande
                </a>
            </p>
            <p class="col-md-12 col-sm-12 footer-cell">
                <a href="https://github.com/johannes-qvarford">
                    <img src="@Url.Content("/Content/Images/GitHub-Mark-Light-32px.png")"/>
                    &nbsp;Forka mig på GitHub
                </a>
            </p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
