@{
    ViewBag.Title = "Om Mig";
}

<div class="row about-introduction about-section">
    <h1>Introduktion</h1>
    <p>
        Jag heter Johannes Qvarford och jag är jobbsökande efter att arbetat som CTO och delgrundare till <a href="http://solutionsskovde.se">Solutions Skövde</a>.
        Jag har utvecklare ASP.NET web applikationer (både frontend och backend) för det mesta, men har även doppat tåna i Unity spelprogrammering and Native+Xamarin mobilutveckling.
        Jag har programmerat C# och Javascript under majoriteten av mitt arbetsliv, och använt C++ under mestadelen av min utbildning från och med gymnasiet.
    </p>
</div>

<div class="row about-proffesional-career about-section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Professionell Karriär</h1>
        <h2>Appgradera (2014-)</h2>
        <img src="~/img/SolutionsSkovde.png"/>
        <p>
            På Solutions Skövde, tidigare känt som Deedly Games och Appgradera, så har mina huvuduppgifter ändrats med tiden.
            Som en delägare and delgrundare så har jag deltagit delvis i administrativa uppgifter.
            Mestadels har jag varit lite av en tech-guru, och tagit på mig de flesta tekniska beslut och hoppat in i de projekt som behövde programmeringshjälp.
            En kund ville ibland inte bara ha en hemsida med en frontend och backend, men även en app för iOS och Android.
            Eftersom vi inte hade råd med 4 utvecklare på standby så fick jag ta hand om det.
        </p>
        <p>
            Mellan 2014 och 2015 utvecklade jag som spel som leadprogrammerare.
            Vi använde Unity och C#, och riktade in oss på Android och iOS.
            Nedan har jag listat spelen som jag främst har deltagit i:<br/>
            <a href="http://deedlygames.com/trashmania.html">Trash Mania</a>: Ett arkadspel som handlar om att fånga skräp som folk tappar. @*@Html.ProjectActionLink("Trash Mania", "Läs Mer")*@<br/>
            <a href="http://deedlygames.com/download/tinytrickytiles.html">Tiny Tricky Tiles</a>: Ett orginellt pusselspel som går ut på att matcha färgade rutor genom att knuffa in nya rutor på brädet.@*@Html.ProjectActionLink("Tiny Tricky Tiles", "Läs Mer")*@
        </p>

        <p>
            Mellan 2015 och 2017 utförde vi konsultjobb för det mesta. Jag inriktade mig speciellt mot jobb inom den finansiella sektorn.
            Jag lärde mig ASP.NET MVC, Xamarin, HTML/CSS/Javascript, JQuery, Angular och React under den här tiden. Vi publiserade huvudsakligen till Azure, men använde även Windows och Linux VMs som host:ades på AWS och GCP.
            Vi arbetade nära med Bricknode och Glofitech, där det sistnämnda är ett konsultationsföretag som utvecklar lösningar mot Bricknode:s största produkt: Bricknode Foundation System (BFS).
            Mina största bedrifter under den här perioden var att leda ett fyra månaders projekt med 3 utvecklare @Html.ProjectActionLink("Fund Admin", "Läs mer"),
            och utvecklingen av ett webutvecklingsramverk vid namn Solutions System, som användes för att skapa nya underhållningsbara projekt snabbt för Glofitech @Html.ProjectActionLink("Solutions System", "Läs mer").
        </p>

        <p>
            Besök Solutions Skövde på <a href="http://solutionsskovde.se">solutionsskovde.se</a>.
        </p>
    </div>
</div>

<div class="row about-education about-section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Utbildning</h1>
        <h2>GTI - Göteborgs Tekniska Institut (2009-2012)</h2>
        <img src="~/img/Gti.jpg"/>
        <p>
            Jag började min utbildning som programmerare på GTI, där jag studerade C++ programmering, nätverkshantering, ellära och matte med mera.
            Jag avslutade mitt program år 2012, med högsta betyg i allt utom två ämnen.
            Under min tid på GTI deltog jag i den nationella programmeringsolympiaden för svenska gymnasieelever där jag kom på delad <a href="~/downloads/Programmeringsolympiaden2012.pdf">16:e plats</a> år 2012.
        </p>
        <h2>HiS - Högskolan i Skövde (2012-2015)</h2>
        <img src="~/img/His.png"/>
        <p>
            År 2012-2015 så gick jag på en högskoleutbildning för att bli tv-spelsprogrammere.
            Jag avslutade min utbildning med en filosofie kandidatexamen i datalogi.
            Mitt @Html.ProjectActionLink("Case-Based Reasoning", "Examensarbete") handlade om hur väl en schack AI kunde prestera med hjälp av tekniken "Case-Based Reasoning".
        </p>
        <p>
            Medan jag läste på skolan så deltog jag i flera spelutvecklingsprojekt.
            Under mitt första år var jag lead programmerare för @Html.ProjectActionLink("Winter Dreams"), ett isometriskt berättelsedrivet spel om en princess fångad i en drömvärld.
            Följande år var jag åter igen lead programmerare, men den här gången för spelet @(Html.ProjectActionLink("Lunch Lady Simulator")).
            Det var även under det är året som jag grundade Solutions Skövde tillsammans med Alexander Karlsson.
        </p>
    </div>
</div>

<div class="row about-early-years about-section">
        <h1>I början</h1>
        <img src="~/img/KaizoReturns.png"/>
        <img src="~/img/WaluigisTreasureHunt.png"/>
    <p>
        Ända sedan jag var liten har jag velat programmera.
        När ett av mina tv-spel slutade att fungera så lovade jag att jag skulle bidra till att skapa bra mjukvara.<br/>
    </p>
    <p>
        Jag började först programmera i högstadiet. På den tiden gjorde jag rom hack av Super Mario World.
        Jag kände mig snabbt begränsad av nivådesigningsprogrammet och lärde mig därför assembly för SNES, så att jag kunde programmera nya fiender och förmågor.
        Jag släppte demoversioner av två rom hack: Super Mario World: Kaizo Returns och Walugi's Treasure Hunt.
    </p>
    <p>
        Patch:en för Waluigi's Treasure Hunt finns tillgänglig <a href="~/downloads/WaluigisTreasureHunt.ips">här</a>.
        För att kunna spela igenom det så behövs ett lagligt exemplar av ett Super Mario World ROM och en SNES emulator som ZSNES.<br/>
        New Super Mario World: Kaizo Returns har spelats igenom av AuthenticZac, och finns tillgänglig <a href="https://www.youtube.com/playlist?list=PL18DB9F871D181135">här</a>: 
    </p>
</div>

<div class="row"></div>