@{
    ViewBag.Title = "About Me";
}

<div class="row about-introduction about-section">
    <h1>Introduction</h1>
    <p>
        My name is Johannes Qvarford, and I'm currently seeking a new job after being the CTO and co-founder of <a href="http://solutionsskovde.se">Solutions Skövde</a>.
        I've mostly developed ASP.NET web applications (both frontend and backend), but have also dipped my toes in Unity game development and Native+Xamarin mobile development.
        I've programmed in C# and Javascript most of my professional life, and used C++ during most of my academic life starting in high school.
    </p>
</div>

<div class="row about-proffesional-career about-section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Professional Career</h1>
        <h2>Solutions Skövde (2014-2017)</h2>
        <img src="~/img/SolutionsSkovde.png"/>
        <p>
            At Solutions Skövde, previously known as Deedly Games and Appgradera, my main tasks have shifted over the years.
            As a shareholder and co founder, I've partly participated in administrative tasks.
            Mostly I've been sort of a tech guru, taking most technical decisions and jumping into any project that needed an extra hand when it came to programming.
            A customer sometimes wanted a website with a frontend and backend as well as a mobile app for iOS and Android,
            but we couldn't afford to keep 4 developers on standby, and that were I came in.
        </p>
        <p>
            Between 2014 and 2015 I developed games as the lead programmer. 
            We used Unity and C# for this, and targeted Android and iOS.
            Below are the games that I participated greatly in:<br/>
            <a href="http://deedlygames.com/trashmania.html">Trash Mania</a>: an arcade action game about collecting fallen trash. @*@Html.ProjectActionLink("Trash Mania", "Read More")*@<br />
            <a href="http://deedlygames.com/download/tinytrickytiles.html">Tiny Tricky Tiles</a>: an original puzzle game where you match colored tiles by pushing spare tiles onto the board. @*@Html.ProjectActionLink("Tiny Tricky Tiles", "Read More")*@
        </p>
                
        <p>
            Between 2015 and 2017 we performed consultation jobs, were I mainly worked towards the financial sector. 
            I learned ASP.NET MVC, Xamarin, HTML/CSS/Javascript, JQuery, Angular and React during this time. We mainly deployed to Azure, but also used Windows and Linux VMs hosted on AWS and GCP.
            We worked closely with Bricknode and Glofitech, the latter being a consultation company that targeted Bricknode's main product: Bricknode Foundation System (BFS).
            My biggest accomplishments during this period was leading a four month project for Bricknode together with 2 other developers @Html.ProjectActionLink("Fund Admin", "Read More"),
            and the development of a web development framework for creating new maintainable projects quickly for Glofitech called Solutions System @Html.ProjectActionLink("Solutions System", "Read More").
        </p>

        <p>
            Visit Solutions Skövde at <a href="http://solutionsskovde.se">solutionsskovde.se</a>.
        </p>
    </div>
</div>

<div class="row about-education about-section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Education</h1>
        <h2>GTI - Gothenburg Technical Institute (2009-2012)</h2>
        <img src="~/img/Gti.jpg"/>
        <p>
            I began my education as a programmer at GTI, where I studied C++ programming, networking, electrical engineering and math among other subjects.
            I finished my program in 2012, with the highest grade in all but two subjects.
            During this time, I also competed in the national Programming Olympics for swedish high-school students, where I finished in <a href="~/downloads/Programmeringsolympiaden2012.pdf">16th place</a> in the year 2012.
        </p>
        <h2>HiS - University of Skövde (2012-2015)</h2>
        <img src="~/img/His.png"/>
        <p>
            In 2012, I attended HiS to become a video game programmer.
            3 years later, I finished my education with a degree of bachelor of science with a major in Computer Science.
            My thesis was about how well a chess AI could perform using Case-Based Reasoning. You can read more about it @Html.ProjectActionLink("Case-Based Reasoning", "Here").<br />
        </p>
        <p>
            During my time at the school, I participated in multiple game development projects.
            In my first year, I was the lead programmer for @Html.ProjectActionLink("Winter Dreams"), an isometric story-driven game about a princess trapped in a dream world.
            In the following year, I was again chosen as a lead programmer, this time for the game @(Html.ProjectActionLink("Lunch Lady Simulator")).
            It was also during this year when I co-founded Solutions Skövde together with Alexander Karlsson.
        </p>
    </div>
</div>

<div class="row about-early-years about-section">
        <h1>Early years</h1>
        <img src="~/img/KaizoReturns.png"/>
        <img src="~/img/WaluigisTreasureHunt.png"/>
        <p>
            Ever since I was a child, I've wanted to program computer applications.
            When one of my video games stopped working, I swore that when I grew up, I would contribute to making good software.<br/>
        </p>
        <p>
            I first started writing code in junior high. Back then, I was making ROM hacks of Super Mario World. 
            I quickly realized that the level editor was very limiting, so I started learning assembly for the SNES to program new enemies.
            I released demo versions for two rom hacks: Super Mario World: Kaizo Returns and Waluigi's Treasure Hunt.
        </p>
        <p>
            The patch for Waluigi's Treasure Hunt is available <a href="~/downloads/WaluigisTreasureHunt.ips">here</a>.
            In order to play through it, you need a legal copy of a Super Mario World ROM and an SNES emulator like ZSNES.<br/>
            A playthrough of New Super Mario World: Kaizo Returns by AuthenticZac is available <a href="https://www.youtube.com/playlist?list=PL18DB9F871D181135">Here</a>.
        </p>
</div>

<div class="row"></div>