@using JohannesQvarford.Website.Models

<div class="row about-introduction about-section">
    <h1>Introduction</h1>
    <p>
        My name is Johannes Qvarford, and I'm the lead programmer and co-founder of <a href="appgradera.nu">Appgradera</a>.
        I mainly program games and websites with Unity and ASP.net MVC, but I occasionally build HTML5 apps with Apache Cordova.
    </p>
</div>

<div class="row about-early-years about-section">
    <div class="about-early-years-text col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h1>Early years</h1>
        <p>
            Ever since I was a child, I've always wanted to program computers.
            When one of my video games stopped working, I swore that when I grew up, I would never make buggy software (little did I know how hard that promise would be to keep).<br/>
        </p>
        <p>
            In first started writing code in junior high. Back then, I was making ROM hacks of Super Mario World, but I quickly realized that the existing tools were insufficient for designing enemies with custom behaviour.
            That's when I learned assembly for the SNES to program new enemies.
            I released demos for two rom hacks: Super Mario World: Kaizo Returns and Waluigi's Treasure Hunt.
        </p>
        <p>
            The patch for Waluigi's Treasure Hunt is available <a href="@Url.Content("~/Content/Downloads/WaluigisTreasureHunt.ips")">Here</a>.
            In order to play through it, you will need a legal copy of a Super Mario World ROM and an SNES emulator like ZSNES.<br/>
            A playthrough (not by me) of New Super Mario World: Kaizo Returns is available <a href="https://www.youtube.com/playlist?list=PL18DB9F871D181135">Here</a>.
        </p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="image-box about-early-years-image" style="background-image: url(@Url.Content("~/Content/Images/WaluigisTreasureHunt.PNG"))"></div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="image-box about-early-years-image" style="background-image: url(@Url.Content("~/Content/Images/KaizoReturns.PNG"))"></div>
    </div>
</div>

<div class="row about-education about-section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Education</h1>
        <h2>GTI - Gothenburg Technical Institute (2009-2012)</h2>
        <p>
            I began my education as a programmer at GTI, where I studied C++ programming, networking, electrical engineering and math among other subjects.
            I finished my program in 2012, with the highest grade in all but two subjects.
            During this time, I also competed in the national Programming Olympics for swedish high-school students, where I finished in <a href="@Url.Content("~/Content/Downloads/Programmeringsolympiaden2012.pdf")">16th place</a> in the year 2012.
        </p>
        <h2>HiS - University of Skövde (2012-2015)</h2>
        <p>
            In 2012, I attended HiS to become a video game programmer.
            3 years later, I finished my education with a degree of bachelor of science with a major in Computer Science.
            My thesis was about how well a chess AI could perform using Case-Based Reasoning. It can be found <a href="http://urn.kb.se/resolve?urn=urn:nbn:se:his:diva-11049">here</a>.<br />
        </p>
        <p>
            During my time at the school, I participated in multiple game development projects.
            In my first year, I was the lead programmer for @Html.ProjectActionLink("Winter Dreams"), an isometric story-driven game about a princess trapped in a dream world.
            In the following year, I was again chosen as a lead programmer, this time for the game @(Html.ProjectActionLink("Lunch Lady Simulator")).
            It was also during this year when I co-founded Appgradera together with Alexander Karlsson.
        </p>
    </div>
</div>

<div class="row about-proffesional-career about-section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Professional Career</h1>
        <h2>Appgradera (2014-)</h2>
        <p>
            At Appgradera, my main tasks include programming games in Unity, websites in ASP.NET MVC and apps in Cordova.
            I estimate the scope of programming aspects of our projects and schedule our tasks.
            As a co-founder of a small startup, I sometimes also perform other small tasks like helping with designing games/websites/apps
            and taking care of our accounting.
        </p>
        <p>
            Appgradera, also known as <em>Deedly Games</em> has released the following games:<br />
            <a href="http://deedlygames.com/trashmania.html">Trash Mania</a>: an arcade action game about collecting fallen trash. @Html.ProjectActionLink("Trash Mania", "Read More")<br />
            <a href="http://deedlygames.com/download/tinytrickytiles.html">Tiny Tricky Tiles</a>: an original puzzle game where you match colored tiles by pushing spare tiles onto the board. @Html.ProjectActionLink("Tiny Tricky Tiles", "Read More")
        </p>
        <p>
            Visit appgradera at <a href="http://appgradera.nu">appgradera.nu</a>.
        </p>
    </div>
</div>

<div class="row"></div>